In [1]:
import pandas as pd

In [12]:
df_trans = pd.read_csv('transactions_ready.csv')

In [107]:
#df_trans.head()

In [26]:
df_eth_us = pd.read_csv('ETH_historical_prices_2017_2021.csv')

In [108]:
#df_eth_us[df_eth_us['Date'] == '2017-06-24']

In [37]:
list_dates = df_trans['Date'].unique()

In [38]:
len(list_dates)

1429

In [40]:
dict_date_price_eth = {'Date_ETH':[], 'Price_ETH':[]}

for i in list_dates:
    #print(i)
    for it, price in zip(df_eth_us['Date'], df_eth_us['Adj Close']):
        if i == it:
            #print(i, it, price)
            dict_date_price_eth['Date_ETH'].append(it)
            dict_date_price_eth['Price_ETH'].append(price)

In [42]:
df_date_price_eth = pd.DataFrame(dict_date_price_eth)
df_date_price_eth

        Date_ETH    Price_ETH
0     2021-08-13  3322.211670
1     2021-08-12  3043.414307
2     2020-11-30   614.842529
3     2020-11-25   570.686646
4     2020-11-23   608.454041
...          ...          ...
1423  2020-03-28   130.986496
1424  2018-10-16   210.119995
1425  2020-04-01   135.634552
1426  2018-08-21   281.944000
1427  2019-08-31   172.469788

[1428 rows x 2 columns]

In [65]:
def datePriceETH(date):
    for d, price in zip(df_date_price_eth['Date_ETH'], df_date_price_eth['Price_ETH']):
        
        if date == d:
            return price
        else:
            pass

In [66]:
df_trans['ETH x U$'] = df_trans['Date'].apply(lambda x: datePriceETH(x))

In [80]:
df_trans

,Trans_id,Punk_id,Trans_Type,From,To,Amount,Date,ETH x U$
0,0xdd0b90,1,Bid withdrawn,0xE1E492,NaN,10.00,2021-08-13,3322.211670
1,0x919480,1,Bid,0xE1E492,NaN,10.00,2021-08-12,3043.414307
2,0x9ac3a7,1,Transfer,0xcf6165,0xb88f61,0.00,2020-11-30,614.842529
3,0xf4af55,1,Sold,0xeE3766,0xcf6165,60.00,2020-11-30,614.842529
4,0x7399ca,1,Bid,0xcf6165,NaN,60.00,2020-11-30,614.842529
...,...,...,...,...,...,...,...,...
166427,0xdfbce0,0,Bid,0x717403,NaN,0.05,2017-06-25,303.247986
166428,0x24893e,0,Sold,0xC352B5,0x00d7c9,0.98,2017-06-24,323.696014
166429,0xc29572,0,Bid,0x00d7C9,NaN,0.98,2017-06-24,323.696014
166430,0xbe1685,0,Bid,0x948a10,NaN,0.67,2017-06-24,323.696014
166431,0xdcc2d3,0,Claimed,NaN,0xc352b5,0.00,2017-06-23,341.739014

In [92]:
df_trans['Total U$'] = df_trans['ETH x U$'] * df_trans['Amount']

In [99]:
df_trans = df_trans[['Trans_id', 'Punk_id', 'Trans_Type', 'From', 'To', 'Amount', 'Total U$', 'Date','ETH x U$']]

In [101]:
df_trans_final = df_trans.copy()

In [104]:
df_trans_final.drop('ETH x U$', axis=1, inplace=True)

In [105]:
df_trans_final

,Trans_id,Punk_id,Trans_Type,From,To,Amount,Total U$,Date
0,0xdd0b90,1,Bid withdrawn,0xE1E492,NaN,10.00,33222.116700,2021-08-13
1,0x919480,1,Bid,0xE1E492,NaN,10.00,30434.143070,2021-08-12
2,0x9ac3a7,1,Transfer,0xcf6165,0xb88f61,0.00,0.000000,2020-11-30
3,0xf4af55,1,Sold,0xeE3766,0xcf6165,60.00,36890.551740,2020-11-30
4,0x7399ca,1,Bid,0xcf6165,NaN,60.00,36890.551740,2020-11-30
...,...,...,...,...,...,...,...,...
166427,0xdfbce0,0,Bid,0x717403,NaN,0.05,15.162399,2017-06-25
166428,0x24893e,0,Sold,0xC352B5,0x00d7c9,0.98,317.222094,2017-06-24
166429,0xc29572,0,Bid,0x00d7C9,NaN,0.98,317.222094,2017-06-24
166430,0xbe1685,0,Bid,0x948a10,NaN,0.67,216.876329,2017-06-24
166431,0xdcc2d3,0,Claimed,NaN,0xc352b5,0.00,0.000000,2017-06-23

In [106]:
df_trans_final.to_csv('transactions_dolars_final.csv')