# Introducción

Este trabajo fue desarrollado como proyecto final del curso de Data Science de IT Academy.

El objetivo del proyecto es simular el trabajo de un Data Scientist para un gran inversor que desea aplicar recursos en Cryptopunks, un activo digital negociado en el blockchain de Ethereum.

Para eso vamos crear un documento con recomendaciones de inversión, usando técnicas de recolección (scraping), almacenamiento (BBDD), exploración y visualización de datos, juntamente con técnicas de Machine Learning, prioritariamente de Clustering y Predicción, para intentar identificar grupos y/o características con mayores posibilidades de apreciación futura.

# Scraping

### Scrape 1: https://larvalabs.com/cryptopunks/attributes

Tablas: Punks Types, Punks Attributes, Punks Attributes Counts

In [117]:
# Import libraries

# Manage dataframe
import pandas as pd

# Create 'bridge' between Jupyter and the Edge browser 
from selenium.webdriver import Edge

In [109]:
url_attributes = 'https://larvalabs.com/cryptopunks/attributes'

In [111]:
# Create driver to comunicate between Pyhton and the browser
driver = Edge('C:\Program Files (x86)\Microsoft\Edge\Application\MSEdgeDriver.exe')

# Access web
driver.get(url_attributes)

In [112]:
# Access Punk Types table and find all lines
punks_types = driver.find_element_by_xpath('/html/body/div[2]/div/div[3]/div/div[1]/table/tbody').find_elements_by_tag_name('tr')

In [113]:
# Create dict to hold values
dict_punks_types = {'Attribute':[], '#':[], 'Avail':[], 'Avg Sale':[], 'Cheapest':[]}

#Loop on each line and extract corresponding value for each key
for e in punks_types:
    dict_punks_types['Attribute'].append(e.find_elements_by_tag_name('td')[0].text)
    dict_punks_types['#'].append(e.find_elements_by_tag_name('td')[1].text)
    dict_punks_types['Avail'].append(e.find_elements_by_tag_name('td')[2].text)
    dict_punks_types['Avg Sale'].append(e.find_elements_by_tag_name('td')[3].text)
    dict_punks_types['Cheapest'].append(e.find_elements_by_tag_name('td')[4].text)

In [114]:
dict_punks_types

{'Attribute': ['Alien', 'Ape', 'Zombie', 'Female', 'Male'],
 '#': ['9', '24', '88', '3840', '6039'],
 'Avail': ['2', '2', '6', '487', '814'],
 'Avg Sale': ['0', '1.92KΞ', '932.12Ξ', '67.06Ξ', '68.63Ξ'],
 'Cheapest': ['35KΞ', '28.89KΞ', '2.09KΞ', '112Ξ', '103Ξ']}

In [115]:
df_punk_types = pd.DataFrame(dict_punks_types)

In [116]:
df_punk_types

  Attribute     # Avail Avg Sale Cheapest
0     Alien     9     2        0     35KΞ
1       Ape    24     2   1.92KΞ  28.89KΞ
2    Zombie    88     6  932.12Ξ   2.09KΞ
3    Female  3840   487   67.06Ξ     112Ξ
4      Male  6039   814   68.63Ξ     103Ξ

In [118]:
df_punk_types.to_csv('punk_types.csv')

In [119]:
# Access Punk Attributes table and find all lines
punks_attributes = driver.find_element_by_xpath('/html/body/div[2]/div/div[3]/div/div[2]/table/tbody').find_elements_by_tag_name('tr')

In [120]:
dict_punks_attributes = {'Attribute':[], '#':[], 'Avail':[], 'Avg Sale':[], 'Cheapest':[]}

for e in punks_attributes:
    #print(e.find_elements_by_tag_name('td')[1].text)
    dict_punks_attributes['Attribute'].append(e.find_elements_by_tag_name('td')[0].text)
    dict_punks_attributes['#'].append(e.find_elements_by_tag_name('td')[1].text)
    dict_punks_attributes['Avail'].append(e.find_elements_by_tag_name('td')[2].text)
    dict_punks_attributes['Avg Sale'].append(e.find_elements_by_tag_name('td')[3].text)
    dict_punks_attributes['Cheapest'].append(e.find_elements_by_tag_name('td')[4].text)

In [121]:
dict_punks_attributes

{'Attribute': ['Beanie',
  'Choker',
  'Pilot Helmet',
  'Tiara',
  'Orange Side',
  'Buck Teeth',
  'Welding Goggles',
  'Pigtails',
  'Pink With Hat',
  'Top Hat',
  'Spots',
  'Rosy Cheeks',
  'Blonde Short',
  'Wild White Hair',
  'Cowboy Hat',
  'Wild Blonde',
  'Straight Hair Blonde',
  'Big Beard',
  'Red Mohawk',
  'Half Shaved',
  'Blonde Bob',
  'Vampire Hair',
  'Clown Hair Green',
  'Straight Hair Dark',
  'Straight Hair',
  'Silver Chain',
  'Dark Hair',
  'Purple Hair',
  'Gold Chain',
  'Medical Mask',
  'Tassle Hat',
  'Fedora',
  'Police Cap',
  'Clown Nose',
  'Smile',
  'Cap Forward',
  'Hoodie',
  'Front Beard Dark',
  'Frown',
  'Purple Eye Shadow',
  'Handlebars',
  'Blue Eye Shadow',
  'Green Eye Shadow',
  'Vape',
  'Front Beard',
  'Chinstrap',
  '3D Glasses',
  'Luxurious Beard',
  'Mustache',
  'Normal Beard Black',
  'Normal Beard',
  'Eye Mask',
  'Goat',
  'Do-rag',
  'Shaved Head',
  'Muttonchops',
  'Peak Spike',
  'Pipe',
  'VR',
  'Cap',
  'Small Shades',
  'Clown Eyes Green',
  'Clown Eyes Blue',
  'Headband',
  'Crazy Hair',
  'Knitted Cap',
  'Mohawk Dark',
  'Mohawk',
  'Mohawk Thin',
  'Frumpy Hair',
  'Wild Hair',
  'Messy Hair',
  'Eye Patch',
  'Stringy Hair',
  'Bandana',
  'Classic Shades',
  'Shadow Beard',
  'Regular Shades',
  'Horned Rim Glasses',
  'Big Shades',
  'Nerd Glasses',
  'Black Lipstick',
  'Mole',
  'Purple Lipstick',
  'Hot Lipstick',
  'Cigarette',
  'Earring'],
 '#': ['44',
  '48',
  '54',
  '55',
  '68',
  '78',
  '86',
  '94',
  '95',
  '115',
  '124',
  '128',
  '129',
  '136',
  '142',
  '144',
  '144',
  '146',
  '147',
  '147',
  '147',
  '147',
  '148',
  '148',
  '151',
  '156',
  '157',
  '165',
  '169',
  '175',
  '178',
  '186',
  '203',
  '212',
  '238',
  '254',
  '259',
  '260',
  '261',
  '262',
  '263',
  '266',
  '271',
  '272',
  '273',
  '282',
  '286',
  '286',
  '288',
  '289',
  '292',
  '293',
  '295',
  '300',
  '300',
  '303',
  '303',
  '317',
  '332',
  '351',
  '378',
  '382',
  '384',
  '406',
  '414',
  '419',
  '429',
  '441',
  '441',
  '442',
  '447',
  '460',
  '461',
  '463',
  '481',
  '502',
  '526',
  '527',
  '535',
  '535',
  '572',
  '617',
  '644',
  '655',
  '696',
  '961',
  '2459'],
 'Avail': ['7',
  '10',
  '9',
  '7',
  '17',
  '15',
  '17',
  '20',
  '17',
  '25',
  '20',
  '17',
  '17',
  '21',
  '16',
  '17',
  '31',
  '29',
  '12',
  '21',
  '19',
  '30',
  '28',
  '14',
  '24',
  '29',
  '21',
  '28',
  '33',
  '28',
  '17',
  '30',
  '24',
  '33',
  '42',
  '40',
  '35',
  '33',
  '36',
  '26',
  '31',
  '29',
  '32',
  '33',
  '33',
  '35',
  '52',
  '56',
  '32',
  '43',
  '39',
  '42',
  '46',
  '33',
  '41',
  '29',
  '30',
  '52',
  '51',
  '55',
  '45',
  '51',
  '52',
  '51',
  '55',
  '57',
  '41',
  '48',
  '54',
  '46',
  '52',
  '39',
  '59',
  '52',
  '66',
  '64',
  '68',
  '80',
  '56',
  '80',
  '67',
  '88',
  '83',
  '81',
  '92',
  '134',
  '348'],
 'Avg Sale': ['265.78Ξ',
  '120.21Ξ',
  '233.74Ξ',
  '148.05Ξ',
  '118.61Ξ',
  '96.26Ξ',
  '113.00Ξ',
  '90.22Ξ',
  '102.31Ξ',
  '121.50Ξ',
  '63.51Ξ',
  '68.91Ξ',
  '68.98Ξ',
  '95.20Ξ',
  '97.42Ξ',
  '87.75Ξ',
  '84.54Ξ',
  '78.94Ξ',
  '75.34Ξ',
  '65.80Ξ',
  '75.76Ξ',
  '74.23Ξ',
  '69.57Ξ',
  '62.76Ξ',
  '58.72Ξ',
  '68.89Ξ',
  '57.79Ξ',
  '91.03Ξ',
  '106.35Ξ',
  '79.75Ξ',
  '72.36Ξ',
  '76.09Ξ',
  '66.05Ξ',
  '80.03Ξ',
  '81.21Ξ',
  '70.82Ξ',
  '184.69Ξ',
  '59.66Ξ',
  '57.51Ξ',
  '63.51Ξ',
  '65.34Ξ',
  '59.74Ξ',
  '64.97Ξ',
  '78.80Ξ',
  '62.07Ξ',
  '70.12Ξ',
  '112.46Ξ',
  '84.54Ξ',
  '60.15Ξ',
  '68.79Ξ',
  '77.89Ξ',
  '72.68Ξ',
  '62.43Ξ',
  '52.67Ξ',
  '61.80Ξ',
  '59.21Ξ',
  '62.23Ξ',
  '84.20Ξ',
  '86.86Ξ',
  '81.78Ξ',
  '62.61Ξ',
  '70.18Ξ',
  '62.24Ξ',
  '61.85Ξ',
  '78.06Ξ',
  '63.11Ξ',
  '52.02Ξ',
  '55.39Ξ',
  '56.29Ξ',
  '53.59Ξ',
  '66.85Ξ',
  '63.57Ξ',
  '66.78Ξ',
  '44.52Ξ',
  '61.41Ξ',
  '62.91Ξ',
  '75.84Ξ',
  '73.59Ξ',
  '61.39Ξ',
  '87.83Ξ',
  '73.43Ξ',
  '59.60Ξ',
  '60.63Ξ',
  '71.04Ξ',
  '66.22Ξ',
  '66.05Ξ',
  '66.04Ξ'],
 'Cheapest': ['800Ξ',
  '275Ξ',
  '355Ξ',
  '399Ξ',
  '239Ξ',
  '176Ξ',
  '187Ξ',
  '158Ξ',
  '180Ξ',
  '200Ξ',
  '160Ξ',
  '174Ξ',
  '140Ξ',
  '199Ξ',
  '261Ξ',
  '199Ξ',
  '129Ξ',
  '140Ξ',
  '127Ξ',
  '137Ξ',
  '139Ξ',
  '118Ξ',
  '128Ξ',
  '125Ξ',
  '129Ξ',
  '125Ξ',
  '148Ξ',
  '150Ξ',
  '150Ξ',
  '129Ξ',
  '129.98Ξ',
  '138Ξ',
  '133Ξ',
  '111Ξ',
  '152Ξ',
  '134.98Ξ',
  '299.99Ξ',
  '110Ξ',
  '129.90Ξ',
  '125Ξ',
  '116.88Ξ',
  '125Ξ',
  '123.99Ξ',
  '118Ξ',
  '109Ξ',
  '120Ξ',
  '185Ξ',
  '139.99Ξ',
  '123Ξ',
  '122.80Ξ',
  '104.99Ξ',
  '124Ξ',
  '107.50Ξ',
  '116.88Ξ',
  '107.50Ξ',
  '128Ξ',
  '115Ξ',
  '135Ξ',
  '165Ξ',
  '142Ξ',
  '127Ξ',
  '113.50Ξ',
  '103Ξ',
  '119Ξ',
  '119.95Ξ',
  '109Ξ',
  '115Ξ',
  '113.50Ξ',
  '103Ξ',
  '107.50Ξ',
  '115Ξ',
  '118.88Ξ',
  '117.95Ξ',
  '110Ξ',
  '115Ξ',
  '112Ξ',
  '115Ξ',
  '117Ξ',
  '116Ξ',
  '135Ξ',
  '128Ξ',
  '115Ξ',
  '115Ξ',
  '120Ξ',
  '112Ξ',
  '115Ξ',
  '118.88Ξ']}

In [122]:
df_punks_attributes = pd.DataFrame(dict_punks_attributes)
df_punks_attributes

          Attribute     # Avail Avg Sale Cheapest
0            Beanie    44     7  265.78Ξ     800Ξ
1            Choker    48    10  120.21Ξ     275Ξ
2      Pilot Helmet    54     9  233.74Ξ     355Ξ
3             Tiara    55     7  148.05Ξ     399Ξ
4       Orange Side    68    17  118.61Ξ     239Ξ
..              ...   ...   ...      ...      ...
82             Mole   644    83   60.63Ξ     115Ξ
83  Purple Lipstick   655    81   71.04Ξ     120Ξ
84     Hot Lipstick   696    92   66.22Ξ     112Ξ
85        Cigarette   961   134   66.05Ξ     115Ξ
86          Earring  2459   348   66.04Ξ  118.88Ξ

[87 rows x 5 columns]

In [124]:
df_punks_attributes.to_csv('punks_attributes.csv')

In [125]:
# Access Punk Attributes Counts table and find all lines
punks_attributes_counts = driver.find_element_by_xpath('/html/body/div[2]/div/div[3]/div/div[3]/table/tbody').find_elements_by_tag_name('tr')

In [126]:
dict_punks_attributes_counts = {'Attribute':[], '#':[], 'Avail':[], 'Avg Sale':[], 'Cheapest':[]}

for e in punks_attributes_counts:
    #print(e.find_elements_by_tag_name('td')[1].text)
    dict_punks_attributes_counts['Attribute'].append(e.find_elements_by_tag_name('td')[0].text)
    dict_punks_attributes_counts['#'].append(e.find_elements_by_tag_name('td')[1].text)
    dict_punks_attributes_counts['Avail'].append(e.find_elements_by_tag_name('td')[2].text)
    dict_punks_attributes_counts['Avg Sale'].append(e.find_elements_by_tag_name('td')[3].text)
    dict_punks_attributes_counts['Cheapest'].append(e.find_elements_by_tag_name('td')[4].text)

In [127]:
dict_punks_attributes_counts

{'Attribute': ['0 Attributes',
  '1 Attributes',
  '2 Attributes',
  '3 Attributes',
  '4 Attributes',
  '5 Attributes',
  '6 Attributes',
  '7 Attributes'],
 '#': ['8', '333', '3560', '4501', '1420', '166', '11', '1'],
 'Avail': ['1', '37', '444', '568', '219', '39', '3', '0'],
 'Avg Sale': ['0',
  '135.03Ξ',
  '71.89Ξ',
  '70.22Ξ',
  '66.40Ξ',
  '109.06Ξ',
  '0',
  '0'],
 'Cheapest': ['4KΞ', '140Ξ', '103Ξ', '111Ξ', '118.88Ξ', '158Ξ', '1.5KΞ', '']}

In [128]:
df_punks_attributes_counts = pd.DataFrame(dict_punks_attributes_counts)
df_punks_attributes_counts

      Attribute     # Avail Avg Sale Cheapest
0  0 Attributes     8     1        0      4KΞ
1  1 Attributes   333    37  135.03Ξ     140Ξ
2  2 Attributes  3560   444   71.89Ξ     103Ξ
3  3 Attributes  4501   568   70.22Ξ     111Ξ
4  4 Attributes  1420   219   66.40Ξ  118.88Ξ
5  5 Attributes   166    39  109.06Ξ     158Ξ
6  6 Attributes    11     3        0    1.5KΞ
7  7 Attributes     1     0        0

In [129]:
df_punks_attributes_counts.to_csv('punks_attributes_counts.csv')

### Scrape 2: https://defypunk.com/punks/

Tabla: Todos los punks accedendo pagina a pagina

In [353]:
# Imports
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.wait import WebDriverWait 
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains

In [335]:
# Crear dict para recibir los valores
dict_punks_traits_final = {'Punk':[], 'Rarity':[], 'Genre':[], 'Skin':[], 'Traits':[], 'Owned_by':[]}

In [ ]:
# Crear y acceder al driver
driver = Edge('C:\Program Files (x86)\Microsoft\Edge\Application\MSEdgeDriver.exe')
url = 'https://defypunk.com/punks/'
#driver.get(url)

In [354]:
# Loop por la pagina de cada Punk y colectar los datos relevantes de cada uno
for i in range(10000):
    driver.get(url + str(i))
    
    # Driver wait para que esperemos el mínimo posible a que los elementos buscados estén disponibles
    WebDriverWait(driver, 5).until(EC.presence_of_element_located((By.XPATH, '//*[@id="root"]/div/main/div/div')))
    
    # Acceder, limpiar (cuando necesario) y agregar las infos al dicionário
    dict_punks_traits_final['Punk'].append(driver.find_element_by_xpath('//*[@id="root"]/div/main/div/div/h1').text)
    
    dict_punks_traits_final['Rarity'].append(driver.find_element_by_xpath('//*[@id="root"]/div/main/div/div/div/div[1]/div[2]').text.replace('st', '').replace('nd', '').replace('rd', '').replace('th', '').split(' ')[0])
    
    dict_punks_traits_final['Genre'].append(driver.find_element_by_xpath('//*[@id="root"]/div/main/div/div/div/div[1]/div[3]/a').text)

    dict_punks_traits_final['Skin'].append(driver.find_element_by_xpath('//*[@id="root"]/div/main/div/div/div/div[1]/div[4]/a').text)
    
    dict_punks_traits_final['Traits'].append(driver.find_element_by_xpath('//*[@id="root"]/div/main/div/div/div/div[1]/div[5]/ul').text.replace('one of', '').replace('(', '').replace(')', '').replace('1', '').replace('2', '').replace('3', '').replace('4', '').replace('5', '').replace('6', '').replace('7', '').replace('8', '').replace('9', '').replace('0', '').replace(',', '').replace(' ', '').split('\n'))
    
    dict_punks_traits_final['Owned_by'].append(driver.find_element_by_xpath('//*[@id="root"]/div/main/div/div/div/div[2]/div[1]/h3/a').text)

# Cerrar driver
driver.quit()

In [384]:
# Crear DF
df_punks_traits = pd.DataFrame(dict_punks_traits_final)

In [283]:
# DF back up
#dict_punks_traits_1 = dict_punks_traits.copy()

In [386]:
df_punks_traits

,Punk,Rarity,Genre,Skin,Traits,Owned_by
0,CryptoPunk #0,"2,023",Female,Mid-skinned,"[BlondeBob, Earring, GreenEyeShadow, HiddenEar...",0xE08c32
1,CryptoPunk #1,"4,352",Male,Dark-skinned,"[Mohawk, Smile]",0xB88F61
2,CryptoPunk #2,"8,090",Female,Light-skinned,[WildHair],0x897aEA
3,CryptoPunk #3,"7,896",Male,Dark-skinned,"[NerdGlasses, Pipe, WildHair]",0xC352B5
4,CryptoPunk #4,"7,332",Male,Mid-skinned,"[BigShades, Earring, Goat, WildHair]",0xC352B5
...,...,...,...,...,...,...
9995,CryptoPunk #9995,"2,466",Female,Albino-skinned,"[PurpleEyeShadow, StraightHairDark]",0x758353
9996,CryptoPunk #9996,"4,323",Male,Light-skinned,"[Cigarette, CrazyHair, Earring, Smile]",0xA9bFA9
9997,CryptoPunk #9997,498,Zombie,Zombie-skinned,"[CapForward, FrontBeard]",0x944D32
9998,CryptoPunk #9998,"1,271",Female,Mid-skinned,"[BlackLipstick, ClownEyesGreen, WildWhiteHair]",0xef764B
9999,CryptoPunk #9999,"9,233",Female,Dark-skinned,"[Mohawk, NerdGlasses]",0x0A383e

In [381]:
# Crear archivo csv
df_punks_traits.to_csv('df_punks_traits.csv')

In [ ]:
# IGNORE

# Colectar transacciones a partir de la tabla en Larva Labs

#url_historic_sales = 'https://www.larvalabs.com/cryptopunks/sales'

# Create driver to comunicate between Pyhton and the browser
#driver = Edge('C:\Program Files (x86)\Microsoft\Edge\Application\MSEdgeDriver.exe')

# Access web
#driver.get(url_historic_sales)


#punks_references = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div/div/div').find_elements_by_tag_name('a')
#punks_sales_info = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div/div/div').find_elements_by_class_name('text-center.w-100.punk-image-text-dense')

#dict_sales = {'Punk':[], 'Sale Price ETH':[], 'Sale Price Dolars':[], 'Last Negociation':[]}

#count = 1

#while True:
#    print(f'Scraping page {driver.current_url[-1]}...')
#    sleep(3)
#    punks_references = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div/div/div').find_elements_by_tag_name('a')
#    punks_sales_info = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div/div/div').find_elements_by_class_name('text-center.w-100.punk-image-text-dense')
#    for n in range(0, len(punks_references)):
#        dict_sales['Punk'].append(punks_references[n].get_attribute('title'))
#        dict_sales['Sale Price ETH'].append(punks_sales_info[n].text.split('\n')[0])
#        dict_sales['Sale Price Dolars'].append(punks_sales_info[n].text.split('\n')[1])
#        dict_sales['Last Negociation'].append(punks_sales_info[n].text.split('\n')[2])    
#    if count == 1:
#        driver.find_element_by_xpath('/html/body/div[2]/div[1]/div/p/a').click()
#    else:
#        driver.find_element_by_xpath('/html/body/div[2]/div[1]/div/p/a[2]').click()
#    count += 1
#    print('Last Page Reached.')